<!-- Add Post Button -->
<button onclick="location.href='/posts/new'">Create Post</button>

{{#each posts}}
  <div class='post'>
    <a href='/dashboard/{{this.id}}'><h2>{{this.title}}</h2></a>
    <p>{{format_date this.date_created}}</p>
  </div>
{{/each}}