<h1>Edit Post</h1>
<form id='updateForm'>
  <input type='hidden' name='postId' value='{{post.id}}' />
  <input type='text' name='title' value='{{post.title}}' required />
  <textarea name='body' required>{{post.body}}</textarea>
  <button type='submit'>Update Post</button>
</form>
<button id='deleteButton' data-postid='{{post.id}}'>Delete Post</button>

<script src='/js/detail.js'></script>